<?xml version="1.0" encoding="UTF-8"?>
<launch>
   <node pkg="rover_assign_2" type="vel_control" name="vel_control" output="screen"/>
   <node pkg="rover_assign_2" type="vel_input" name="vel_input" output="screen"/>
   <rosparam file="$(find rover_assign_2)/config/params.yaml"/>
     
   <arg name="rover_name" default="rover"/>
   <arg name="world" default="$(find rover_assign_2)/worlds/mars.world"/>
   <arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>

    <env name="GAZEBO_MODEL_PATH"       value="${GAZEBO_MODEL_PATH}:$(find rover_assign_2)/models"/>
    <env name="GAZEBO_RESOURCE_PATH"    value="${GAZEBO_RESOURCE_PATH}:$(find rover_assign_2)/models"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world)"/>
		<arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="verbose" default="true"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
    </include>

    <include file="$(find rover_assign_2)/launch/spawn_rover.launch">
        <arg name="rover_name" default="$(arg rover_name)"/>
    </include>
</launch>
