<?xml version="1.0"?>
<launch>
    <arg name="rover_name" default="rover"/>
    <arg name="namespace" default="$(arg rover_name)"/>
    <arg name="model" default="$(find rover_sim)/urdf/rover_description.urdf"/>
    <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>

    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="-0.033356" />
    <arg name="roll" default=".031965"/>
    <arg name="pitch" default=".091685"/>
    <arg name="yaw" default=".003569" />

    <param name="/robot_description" command="
    $(find xacro)/xacro '$(arg model)'
    namespace:=$(arg namespace)"
    />
    <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

    <node name="spawn_$(arg namespace)" pkg="gazebo_ros" type="spawn_model"
    args="-param robot_description
          -urdf
          -x $(arg x)
          -y $(arg y)
          -z $(arg z)
          -R $(arg roll)
          -P $(arg pitch)
          -Y $(arg yaw)
          -model $(arg namespace)"
    respawn="false" output="screen">
   </node>

   <rosparam file="$(find rover_sim)/config/rover_control.yaml" command="load" ns="$(arg namespace)"/>
   <node name="controller_spawner" ns="$(arg namespace)" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="body_rocker_left_controller
   body_rocker_right_controller
   corner_lf_wheel_lf_controller
   bogie_left_wheel_lm_controller
   corner_lb_wheel_lb_controller
   corner_rb_wheel_rb_controller
   bogie_right_wheel_rm_controller
   corner_rf_wheel_rf_controller
   rocker_left_bogie_left_controller
   rocker_right_bogie_right_controller
   bogie_left_corner_lf_controller
   rocker_left_corner_lb_controller
   rocker_right_corner_rb_controller
   bogie_right_corner_rf_controller
   joint_state_controller"/>

   <remap from="joint_states" to="$(arg namespace)/joint_states" />
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"></node>

</launch>
