<?xml version="1.0"?>
<launch>
    <node pkg="aruco_controller" type="vel_control" name="vel_control" output="screen"/>
   <!-- <node pkg="aruco_controller" type="vel_input" name="vel_input" output="screen"/> -->
   <node pkg="aruco_controller" type="pose_control" name="pose_control" output="screen"/>
   <node pkg="aruco_controller" type="coordinate" name="coordinate" output="screen"/>
   <node pkg="aruco_controller" type="convertor" name="convertor" output="screen"/>
    <node pkg="aruco_controller" type="marker_detector" name="marker_detector" output="screen"/>

    <!-- <node pkg="aruco_controller" type="gps_control" name="gps_control" output="screen"/> -->
    <rosparam file="$(find aruco_controller)/config/params.yaml"/>

    <arg name="rover_name" default="rover"/>
    <arg name="world" default="$(find aruco_controller)/worlds/aruco.world"/>
    <arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
	<arg name="gui" default="true"/>
	<arg name="headless" default="false"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>

    <env name="GAZEBO_MODEL_PATH"       value="${GAZEBO_MODEL_PATH}:$(find aruco_controller)/models"/>
    <env name="GAZEBO_RESOURCE_PATH"    value="${GAZEBO_RESOURCE_PATH}:$(find aruco_controller)/models"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(arg world)"/>
		<arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="verbose" default="true"/>
		<arg name="paused" value="$(arg paused)"/>
		<arg name="use_sim_time" value="$(arg use_sim_time)"/>
		<arg name="headless" value="$(arg headless)"/>
    </include>

    <include file="$(find aruco_controller)/launch/spawn_rover.launch">
        <arg name="rover_name" default="$(arg rover_name)"/>
    </include>
</launch>
