<?xml version="1.0"?>
<launch>

<include file="$(find rover_vel_control)/launch/vel_cntrl.launch"/>
    

<node pkg="rover_position_control" type="rover_position_control_node" name="rover_position_control_node" output="screen"/>
<node pkg="rover_position_control" type="rover_heading_node" name="rover_heading_node" output="screen"/>
<!-- <node pkg="rover_position_control" type="rover_gps_node" name="rover_gps_node" output="screen"/> -->

</launch>